.reviews-slider {
  padding: 3.125rem 3.75rem;
  z-index: 1;
  position: relative;
}
.reviews-slider .swiper {
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden; 
}
.reviews-slider .description-slider {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 1.25rem;
}
.reviews-slider .description-slider p {
  font-family: "NexaScript-Light";
  font-size: 5.625rem;
}
.reviews-slider .navigation-buttons {
  display: flex;
  gap: 2rem; 
}
.reviews-slider .swiper-button-prev,
.reviews-slider .swiper-button-next {
  width: 5.1875rem; 
  height: 5.1875rem; 
  background-color: var(--color-yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
  margin-top: 0;
  top: auto; 
}
.reviews-slider .swiper-button-prev::after,
.reviews-slider .swiper-button-next::after {
  content: '';
  width: 1.25rem;
  height: 1.25rem; 
  border-top: 0.1875rem solid var(--color-dark); 
  border-right: 0.1875rem solid var(--color-dark); 
}
.reviews-slider .swiper-button-prev::after {
  transform: rotate(-135deg);
}
.reviews-slider .swiper-button-next::after {
  transform: rotate(45deg); 
}
.reviews-slider .swiper-button-prev:hover,
.reviews-slider .swiper-button-next:hover {
  background-color: var(--color-orange); 
  transform: scale(1.1);
  transition-duration: var(--transition-duration);
}
.reviews-slider .swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: -3rem;
  border-radius: var(--border-radius);
  justify-content: flex-start;
  position: relative; 
  z-index: 2;
  width: auto;
  height: 100%;
  box-sizing: border-box;

}
.reviews-slider .swiper-slide {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 31.125rem;
  height: auto;
  min-height: 42.9375rem; 
  background: var(--color-purple-light);
  padding: 1.25rem; 
  position: relative; 
  z-index: 2;
  flex-shrink: 0; 
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
.reviews-slider .review h4 {
  font-family: var(--font-family-bold);
  font-size: 1.75rem;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  margin: 0;
  white-space: nowrap;
  margin-top: 1.875rem;
}
.reviews-slider .review p {
  font-family: var(--font-family-base);
  font-size: 1.5rem;
  margin-top: 1.875rem;
}
.reviews-slider .circle {
  border-radius: 50%;
  height: 5.6875rem;
  width: 5.6875rem;
  margin-left: 1.25rem; 
  background-size: cover;
}

.reviews-slider .circle-1 {
  background: url(../img/cat-icon.jpg);
}

.reviews-slider .circle-2 {
  background: url(../img/cow-icon.jpg);
}

.reviews-slider .circle-3 {
  background: url(../img/dog-icon.png);
}
.reviews-slider .circle-4 {
  background: url(../img/cat-icon.jpg);
}
.reviews-slider .circle-5 {
  background: url(../img/cow-icon.jpg);
}
.reviews-slider .circle-6 {
  background: url(../img/dog-icon.png);
}
.reviews-slider .decoration-line {
  position: absolute;
  bottom: 9.375rem; 
  left: 0;
  right: 0;
  z-index: 0; 
  width: 100%;
}
.reviews-slider .decoration-line img {
  width: 100%;
}
.reviews-slider .swiper-slide-active {
  transform: scale(1.05);
}