@font-face {
    font-family: 'CoolveticaCondensedRg-Regular';
    src: url(fonts/CoolveticaCondensedRg-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NexaScript-Light';
    src: url(fonts/NexaScript-Light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Bold';
    src: url(fonts/Unbounded-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Light';
    src: url(fonts/Unbounded-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Medium';
    src: url(fonts/Unbounded-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Regular';
    src: url(fonts/Unbounded-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom, 0);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
    overflow:auto;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
 :where([fill]:not(
   [fill="none"],
   [fill^="url"]
 )) {
   fill: currentColor;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
 :where([stroke]:not(
   [stroke="none"],
   [stroke^="url"]
 )) {
   stroke: currentColor;
 }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 :root {
    --color-dark: #2B2B2B;
    --color-yellow: #FFDD72;
    --color-light:#FFFFFF;
    --color-purple: #763F94;
    --color-purple-light: #E9BFFF;
    --color-gray: #717171;
    --color-orange: #FFDA56;
    --border-radius: 32px;
    --border: 1px solid var(--color-dark);
    --font-family-base: 'Unbounded-Regular', sans-serif;
    --font-family-bold: 'Unbounded-Bold';
    --font-family-medium:'Unbounded-Medium';
    --font-family-light:'Unbounded-Light';
    --font-family-accent: 'CoolveticaCondensedRg-Regular', 'NexaScript-Light', sans-serif;
    --transition-duration: 0.2s;
 }
a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}
.btn {
      display: inline-flex;
      width: 100%; 
      max-width: 20.5625rem;
      height: auto;
      background-color: var(--color-yellow);
      text-decoration: none;
      border: var(--border);
      border-radius: var(--border-radius);
      font-family: var(--font-family-bold);
      padding: 0.5rem 0.8rem;
      font-size: 1.4rem;
  }
     .btn {
        display: inline-block;
        transition: transform 0.5s ease;
      }
     .btn:hover {
        background-color: var(--color-orange);
        transform: scale(1.1);
     }
     .btn:active {
        transform: scale(0.98);
        background-color: var(--color-yellow);
        transition: transform 0.5s ease;
     }

a {
    color: var(--color-dark);
 }
a:hover {
    color: var(--color-gray);
}

 body{
    font-family: var(--font-family-base);
    font-size: 1.5rem;
    color: var(--color-dark);
    background: radial-gradient(circle, rgba(255,235,170,1) 0%, rgba(255,255,255,1) 0%, rgba(255,235,170,1) 100%);
 }
 h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
 }
.visually-hidden {
  display:none;
}
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.25rem;
  padding-inline: 3.75rem;
  flex-wrap: wrap;
  position: fixed; 
  width: 100%; 
  z-index: 1000;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 243, 211, 0.95), rgba(255, 235, 170, 0.95));
  z-index: -1;
  box-shadow: 0 0.125rem 0.9375rem rgba(0, 0, 0, 0.04);
  transition: var(--transition-duration);
}

.header > * {
  position: relative;
  z-index: 1;
}
 .header-menu-list {
    display: flex;
    column-gap: 3.125rem;
 }
 .header-menu-item {
  font-family: var(--font-family-base);
  font-size: 1.25rem;
 }
 .header-menu-link {
    display: inline-flex;
    align-items: center;
    height: 1.875rem; 
    padding-bottom: 0.5rem; 
    text-decoration: none;
    font-family: var(--font-family-base);
    font-size: 1.25rem;
 }
 .header-menu-link.is-current {
    border-bottom: var(--border);
     }
.header-menu-link:not(.is-current):hover {
    border-bottom: var(--border);
     }
     .header-logo img {
      width: 20vw;
      max-width: 23.9375rem; 
      height: auto;
      margin-top: 0.3125rem; 
       }
       .banner {
        padding: 7.5rem 3.75rem;
        height: 53.75rem;
        position: relative;
       }
       .banner-title {
        font-family: var(--font-family-medium);
        font-size: 5.313rem;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(295deg, rgba(200,107,250,1) 41%, rgba(118,63,148,1) 100%);
       }
       .banner-info {
        position: relative; 
        z-index: 1;
       }
       .banner-subtitle {
        font-family: var(--font-family-base);
        font-size: 4rem;
        line-height: 145%;
        margin-top: 0.625rem;
       }
       .banner-text {
        width: 100%;
        max-width: 40.625rem; 
        margin-top: 1.5625rem;
    }
    
    .justified-text {
        text-align: justify;
        line-height: 1.5; 
        font-family: var(--font-family-base);
        font-size: 1.5rem;
    }
    .banner-photo {
      width: 40vw;
      max-width: 37.9375rem; 
      position: absolute;
      top: 0;
      right: 1.25rem; 
      margin-top: 1.875rem; 
      z-index: 1;
     }
    .btn2 {
      border: var(--border);
      border-radius: var(--border-radius);
      height: auto;
      width: 100%; 
      max-width: 40.625rem;
      display: inline-flex;
      background-color: var(--color-yellow);
      text-decoration: none;
      padding: 1rem 1.5rem;
      font-family: var(--font-family-bold);
      margin-top: 2.5rem;
      font-size: 1.8rem;
      display: flex; 
      align-items: center; 
      z-index: 2; 
    }
    .arrow-circle {
      width: 4rem;
      height: 4rem; 
      background-color: var(--color-light);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-left: 1.5625rem; 
      transition: transform 0.3s ease;
      overflow: hidden;
      border: var(--border);
    }
    .arrow {
      width: 1.125rem;
      height: 1.125rem; 
      border-right: 0.1875rem solid var(--color-dark); 
      border-top: 0.1875rem solid var(--color-dark); 
      transform: rotate(45deg);
      transition: opacity 0.4s ease, transform 0.4s ease;
      position: relative;
  }
    
.btn2:hover .arrow {
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}
  .hero-section {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 0;
  }
.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.decorations img {
  position: absolute;
}
.ellipse-1 {
  top: -40rem; 
  right: 42.1875rem; 
  width: 4.1875rem;
  height: 4.1875rem; 
}

.ellipse-2 {
  top: -18.75rem; 
  right: 55.625rem; 
  width: 3rem;
  height: 3rem;
}

.ellipse-3 {
  top: -11.0625rem; 
  right: -0.9375rem; 
  width: 11.375rem; 
  height: 11.375rem;
}

.ellipse-4 {
  top: -48.4375rem; 
  right: 26.25rem; 
  width: 4.8125rem; 
  height: 4.8125rem; 
}

.spiral-1 {
  top: -26.875rem; 
  right: 33.875rem; 
  width: 3.625rem; 
  height: 3.625rem;
  transform: rotate(-17deg);
}

.spiral-2 {
  top: -6.25rem; 
  right: 34.375rem; 
  width: 6.5rem; 
  height: 6.5rem; 
  transform: rotate(-100deg);
}

.line-1 {
  top: -47.5rem; 
  right: -3.6875rem; 
}

.cube {
  top: -45.625rem; 
  right: 61.875rem; 
  width: 3.625rem;
  height: 3.625rem; 
}
.about-us {
  padding: 3.125rem 3.75rem;
  height: 53.75rem;
  position: relative;
}
.welcome-section {
  display: block; 
  text-align: center; 
  z-index: 1;
  position: relative;
}
.welcome-section h3 {
  font-family: var(--font-family-medium);
  font-size: 3.75rem;
  line-height: 89%;
  background: linear-gradient(271deg, #a54bd6 22.27%, #fcc402 80.88%);
  color: transparent;
  background-clip: text;
  margin-bottom: 0.3125rem;
}
.stars {
  margin: 0.625rem 0; 
  display: inline-block;
}
.welcome-section p {
  font-family: var(--font-family-base);
  font-size: 1.875rem;
  margin-bottom: -6.25rem;
}
.stat-container {
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat-item {
  border-radius: var(--border-radius);
  display: flex;
  width: 100%; 
  max-width: 112.5rem; 
  height: auto;
  background: linear-gradient(90deg, #763f94 0%, rgba(200, 107, 250, 0.5) 100%);
  margin-bottom: 1.875rem; 
  padding: 1rem 2rem;
  align-items: center;
}
.stat-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -0.9375rem;
}
.stat-item h4 {
  font-family: var(--font-family-accent);
  font-size: 6rem;
  color: var(--color-light);
  margin: 0;
  line-height: 1;
}
.stat-item p {
  font-family: var(--font-family-base);
  font-size: 2.5rem;
  color: var(--color-light);
  margin: 0;
   
}
.decorations-2 img {
  position: absolute;
  z-index: 0;
}
.line-2 {
  top: 6.5625rem; 
  right: 56.4375rem; 
}

.ellipse-5 {
  top: 10.625rem;
  left: 7.5rem; 
  width: 7.1875rem;
  height: 7.1875rem;
}

.ellipse-6 {
  top: 5.625rem; 
  left: 18.75rem; 
  width: 4.6875rem; 
  height: 4.6875rem; 
}

.ellipse-7 {
  top: 9.375rem; 
  right: 7.8125rem; 
  width: 10.3125rem; 
  height: 10.3125rem; 
}

.ellipse-8 {
  top: 21.875rem; 
  right: 16.875rem; 
  width: 5.1875rem; 
  height: 5.1875rem; 
}

.rocket {
  top: 15.625rem;
  right: 34.375rem; 
}

.medal {
  top: 8.75rem; 
  left: 25rem; 
}
.our-values {
  padding: 3.125rem 3.75rem;
  position: relative;
  margin-top: 16.25rem;
}

.values-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  z-index: 1;
  position: relative; 
}

.values-left, .values-right {
  padding: 1.25rem;
}

.advantage-section {
  background: linear-gradient(180deg, rgba(211, 129, 255, 0.98) 0%, rgba(255, 203, 69, 0.98) 100%);
  border-radius: var(--border-radius);
  padding: 1rem; 
  color: var(--color-dark);
  position: relative;
  width: 100%;
  max-width: 53.9375rem; 
  height: auto;
}

.mission-section {
  background: linear-gradient(180deg, rgba(211, 129, 255, 0.98) 0%, rgba(255, 203, 69, 0.98) 100%);
  border-radius: var(--border-radius);
  padding: 1.25rem; 
  color: var(--color-dark);
  position: relative;
  width: 100%;
  max-width: 53.4375rem; 
  height: auto;
  min-height: 35.313rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.advantage-section h3, .mission-section h3 {
  font-family: var(--font-family-medium);
  font-size: 3.125rem;
  text-align: center; 
  margin-top: 9.375rem;
  color: var(--color-dark);
  margin-bottom: 1.875rem;
}
.advantage-list {
  padding: 0;
  margin: 0;
}
.advantage-list li {
  padding-left: 5rem;
  position: relative;
}
.check-mark {
  background-image: url('icon/check-mark-circle.svg');
  background-size: cover;
  width: 4.1875rem; 
  height: 4.1875rem;
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}
.advantage-list li strong {
  font-family: var(--font-family-base);
  display: block;
  font-size: 2rem;
  margin-top: 0.625rem;
  color: var(--color-dark);
}

.advantage-list li p {
  font-size: 1.5rem;
  text-align: justify;
  color: var(--color-dark);
}

.mission-list {
  width: 855px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
}

.mission-list li {
  font-size: 3rem; 
  margin-bottom: 1.25rem; 
  position: relative;
  padding-left: 7.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  width: 100%;
}

.mission-list li::before {
  content: "";
  background-image: url('icon/star-vector.svg');
  background-size: cover;
  width: 4.1875rem; 
  height: 4.1875rem; 
  position: absolute;
  left: 2.1875rem; 
  top: 50%;
  transform: translateY(-50%);
}

.cup-icon, .rocket-icon {
  position: absolute;
  top: 0.625rem;
  right: 21.875rem;
  width: 8.625rem;
  height: auto;
}

.image-section {
  margin-top: 1.25rem;
}

.girl-reading {
  width: 100%;
    max-width: 53.4375rem; 
    height: auto;
    max-height: 20.625rem; 
    border-radius: var(--border-radius);
}

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.line-3 {
  position: absolute;
  top: 18.75rem;
  width: 100%;
  z-index: -1;
}
.entry-level-programs {
  padding: 3.125rem 3.75rem;
}
.simple-programs-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  border-radius: var(--border-radius);
}
.beginner, .elementary, .Pre-intermediate{
  border-radius: var(--border-radius);
  background: radial-gradient(circle, rgba(211,129,255,1) 50%, rgba(255,203,69,1) 100%);
  width: 100%;
  max-width: 35.875rem; 
  height: auto;
  padding: 1.25rem; 
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.simple-programs-container img {
  width: 100%;
  max-width: 29.5625rem; 
  height: auto;
  max-height: 19.5625rem; 
  align-self: center;
  padding: 0;
  margin-bottom: 1.25rem; 
}
.simple-programs-container h3{
  font-family: var(--font-family-bold);
  font-size: 2.25rem;
  display: flex;
  justify-content: space-between;
}
.simple-programs-container .btn {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
    max-width: 17.9375rem; 
    height: auto;
}
.simple-programs-container p {
  font-size: 1.75rem;
  font-family: var(--font-family-base);
}
.advanced-level-programs {
  padding: 3.125rem 3.75rem;
}
.hard-programs-container {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  border-radius: var(--border-radius);
}
.intermediate, .intermediate-plus, .upper-intermediate {
  border-radius: var(--border-radius);
  background: radial-gradient(circle, rgba(211,129,255,1) 50%, rgba(255,203,69,1) 100%);
  width: 100%; 
  max-width: 35.875rem; 
  height: auto;
  padding: 1.25rem;
  position: relative;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.hard-programs-container img {
  width: 100%;
  max-width: 29.5625rem;
  height: auto;
  max-height: 19.5625rem; 
  align-self: center;
  margin-top: auto;
  margin-bottom: 1.25rem; 
  padding: 0;
}
.hard-programs-container h3 {
  font-family: var(--font-family-bold);
  font-size: 2.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hard-programs-container .btn {
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  max-width: 17.9375rem; 
  height: auto;
  margin-left: auto;
}
.hard-programs-container p {
  font-size: 1.75rem;
  font-family: var(--font-family-base);
  margin: 0;
}
.reviews-slider {
  padding: 3.125rem 3.75rem;
  z-index: 1;
  position: relative;
}

.description-slider {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 1.25rem;
}
.description-slider p {
  font-family: "NexaScript-Light" ;
  font-size: 5.625rem;
}
.navigation-buttons {
  display: flex;
  gap: 0.625rem; 
}

.swiper-button-prev,
.swiper-button-next {
  width: 5.1875rem; 
  height: 5.1875rem; 
  background-color: var(--color-yellow);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  width: 1.25rem;
  height: 1.25rem; 
  border-top: 0.1875rem solid var(--color-dark); 
  border-right: 0.1875rem solid var(--color-dark); 
  transform: rotate(-135deg);
}

.swiper-button-next::after {
  transform: rotate(45deg); 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-orange); 
  transform: scale(1.1);
  transition-duration: var(--transition-duration);
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6.25rem;
  border-radius: var(--border-radius);
  justify-content: center;
  position: relative; 
  z-index: 2;
}

.swiper-slide {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 31.125rem;
  height: auto;
  min-height: 42.9375rem; 
  background: var(--color-purple-light);
  padding: 1.25rem; 
  position: relative; 
  z-index: 2; 
}
.circle {
  border-radius: 50%;
  height: 5.6875rem;
  width: 5.6875rem;
  margin-left: 1.25rem; 
}
.circle-1 {
  background: url(img/cat-icon.jpg);
  background-size: cover;
}
.circle-2 {
  background: url(img/cow-icon.jpg);
  background-size: cover;
}
.circle-3 {
  background: url(img/dog-icon.png);
  background-size: cover;
}
.review h4 {
  font-family: var(--font-family-bold);
  font-size: 1.75rem;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  margin: 0;
  white-space: nowrap;
  margin-top: 1.875rem;
}
.review p {
  font-family: var(--font-family-base);
  font-size: 1.5rem;
  margin-top: 1.875rem;
}
.decoration-line {
  position: absolute;
  bottom: 9.375rem; 
  left: 0;
  right: 0;
  z-index: 0; 
  text-align: center; 
}
.decoration-line img {
  width: 100%;
}
.contacts {
  padding: 3.125rem 3.75rem;
  position: relative;
}
.contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2.5rem; 
  font-family: "Unbounded-Bold";
  position: relative;
  z-index: 1;
}
.contacts-container h4{
  font-size: 4rem;
  margin: 0;
}
.contacts-container p{
  margin-top: 1.25rem;
  font-size: 2rem;
}
.heading-contacts {
  grid-column: 1 / -1; /* Заголовок занимает всю ширину */
  position: relative;
  z-index: 1;
}
.heading-contacts h3{
  font-size: 4rem;
  margin-bottom: 0;
}
.contacts-left {
  display: flex;
  flex-direction: column;
  gap: 6.5625rem; 
}
.contacts-right {
  display: flex;
  flex-direction: column;
}
.adress-section,
.telephone-section,
.mail-section {
  border-radius: var(--border-radius);
  padding: 1rem;
  color: var(--color-dark);
}

.adress-section, .telephone-section{
  background: linear-gradient(90deg, #c86bfa 0%, #ffdd72 100%);
  width: 100%;
  height: auto;
  min-height: 15.8125rem; 
}
.mail-section {
  background: linear-gradient(180deg, #c86bfa 0%, #ffcb45 100%);
  width: 100%; 
  height: auto;
  min-height: 38.1875rem;
}
.mail-list {
  padding: 0;
  margin: 0;
}
.mail-list li {
  margin-bottom: 3.75rem;

}
.mail-list strong,
.mail-list p {
  margin: 0;
  display: inline;
  font-size: 2rem;
}
.decoration-contacts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.decoration-contacts img {
  position: absolute;
}
.line-7 {
  top: 7.5rem;
  width: 100%;
}
.vidget-map {
  padding: 3.125rem 3.75rem;
}
.footer {
  background: rgba(61, 0, 102, 0.65);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  height: auto;
  min-height: 25.188rem;
}

.footer-main {
  padding-top: 1.875rem;
  flex-grow: 1;
  min-height: 0;
}

.footer-main-inter-container {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  flex: 1;
}

.footer-header {
  flex-shrink: 0;
}

.footer-body {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: flex-start;
  font-size: 2.5rem;
  flex: 1;
}

.footer-column {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  color: var(--color-light);
}

.footer-column .nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.footer-column .nav-menu li {
  font-size: 2.5rem;
  line-height: 125%;
  color: rgba(255, 255, 255, 0.55); 
  list-style-type: disc; 
  margin-left: 1.25rem; 
}

.footer-column .nav-menu a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55); 
}

.social-network {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: center; 
}

.social-network p {
  color: rgba(255, 255, 255, 0.55);
  margin: 0;
}

.social-network .social-icons {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
}

.support {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  align-items: center; 
}

.support p {
  color: rgba(255, 255, 255, 0.55);
  margin: 0;
}
.support .chat-icons {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  align-items: center;
}
  .social-icons a img {
    transition: background 0.3s ease;
    border-radius: 50%; 
  }
  .social-icons a:hover img {
    background: var(--color-dark); 
    border-radius: 50%; 
  }
  .chat-icons a img {
    transition: background 0.3s ease;
    border-radius: 50%; 
  }
  .chat-icons a:hover img {
    background: var(--color-dark);
    border-radius: 50%; 
  }
hr {
  border: 0;
  border-top: 0.0625rem solid var(--color-dark); 
  margin: 1.25rem 0;
  width: 100%;
}
.footer-extra {
  padding: 0;
}
.footer-extra-inter-container {
  padding: 0 3.75rem;
}
.footer-copyright {
  font-size: 1.563rem;
  color: var(--color-dark);
  padding: 0.625rem 0;
  display: flex;
  justify-content: start;
  align-items: center; 
  gap: 3.125rem;
}
.footer-copyright span {
  margin: 0; 
}
@media (max-width: 1919px) {
  .banner-photo {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header {
    padding-inline: 1.5rem; 
  }
  .header-menu {
    margin-top: 1rem;
  }
  .header-logo img {
    width: 25vw; 
  }
  .line-1 {
    display: none;
  }
  .btn {
    margin-top: 1rem;
  }
  .banner {
    padding: 3.75rem 1.875rem;
    height: auto; 
    min-height: 100vh;
  }
  .ellipse-1 {
    top: -23rem; 
    right: 12.1875rem; 
    width: 4.1875rem;
    height: 4.1875rem; 
  }
  .ellipse-2 {
    top: -15.75rem; 
    right: 9.625rem; 
    width: 3rem;
    height: 3rem;
  }
  .ellipse-3 {
    top: -45.0625rem; 
    right: -0.9375rem; 
    width: 11.375rem; 
    height: 11.375rem;
  }
  .ellipse-4 {
    top: -46.4375rem; 
    right: 21.25rem; 
    width: 4.8125rem; 
    height: 4.8125rem; 
  }
  .spiral-1 {
    top: -30.875rem; 
    right: 18.875rem; 
    width: 3.625rem; 
    height: 3.625rem;
    transform: rotate(-17deg);
  }
  .spiral-2 {
    top: -15.25rem; 
    right: 1.3rem; 
    width: 6.5rem; 
    height: 6.5rem; 
    transform: rotate(-100deg);
  }
  .banner-title {
    margin-top: 7rem;
    font-size: 3.5rem; 
  }
  .banner-subtitle {
    font-size: 2.5rem; 
  }
  .banner-text {
    max-width: 30rem; 
  }
  .btn2 {
    font-size: 1.2rem;
    max-width: 30rem;
    z-index: 10;
  }
  .stat-item h4 {
    font-size: 4rem; 
  }
  .stat-item p {
    font-size: 1.5rem; 
  }
  .ellipse-5 {
    top: 10.625rem;
    left: 7.5rem; 
    width: 7.1875rem;
    height: 7.1875rem;
  }
  .ellipse-6 {
    top: 5.625rem; 
    left: 18.75rem; 
    width: 4.6875rem; 
    height: 4.6875rem; 
  }
  .ellipse-7 {
  display: none;
  }
  .ellipse-8 {
    top: 15.875rem; 
    right: 9.875rem; 
    width: 5.1875rem; 
    height: 5.1875rem; 
  }
  .rocket {
    display: none;
  }
  .medal {
    top: 1.75rem; 
    left: 40rem; 
  }
  .values-container {
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
  }
  .advantage-section, .mission-section {
    max-width: 100%; 
    padding: 0.75rem;
    min-height: 38rem;
  }
  .advantage-section h3, .mission-section h3 {
    font-size: 2rem;
    margin-top: 5rem; 
    margin-bottom: 1rem;
  }
  .advantage-list li {
    padding-left: 3.5rem;
    margin-bottom: 1rem;
  }
  .advantage-list li:nth-child(n+4) { 
    display: none;
  }
  .advantage-section {
    min-height: 20rem; 
  }
  .check-mark {
    width: 2.5rem;
    height: 2.5rem;
    top: 15%; 
    transform: translateY(-50%);
  }
  .advantage-list li strong {
    font-size: 1.6rem;
  }
  .advantage-list li p {
    font-size: 1.2rem;
  }
  .mission-list {
    width: 100%; 
  }
  .mission-list li {
    font-size: 1.6rem;
    padding-left: 4rem;
    margin-bottom: 3.5rem;
  }
  .mission-list li::before {
    width: 2.5rem;
    height: 2.5rem;
    left: 0.5rem;
  }
  .cup-icon, .rocket-icon {
    width: 5rem; 
    height: auto;
    top: 0.5rem; 
  }
  .cup-icon {
    right: 9.5rem; 
  }
  .rocket-icon {
    right: 9.5rem;
  }
  .simple-programs-container, .hard-programs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem; 
    justify-content: center; 
    align-items: stretch; 
  }
  .beginner, .elementary, .Pre-intermediate,
  .intermediate, .intermediate-plus, .upper-intermediate {
    width: 100%;
    max-width: 26rem; 
    padding: 1rem;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  .simple-programs-container img,
  .hard-programs-container img {
    max-width: 75%; 
    max-height: 12rem; 
    margin: 0 auto; 
  }
  .simple-programs-container h3,
  .hard-programs-container h3 {
    font-size: 1.2rem;  
  }
  .simple-programs-container p,
  .hard-programs-container p {
    font-size: 1rem; 
    text-align: justify; 
    flex-grow: 1;
  }
  .simple-programs-container .btn,
  .hard-programs-container .btn {
    font-size: 0.7rem; 
    max-width: 8rem; 
    align-self: flex-end; 
    margin: 0;
  }
  .description-slider p {
    font-size: 4rem; 
  }
  .swiper-wrapper {
    flex-direction: row;
    gap: 1.5rem; 
    justify-content: center;
  }
  .swiper-slide {
    width: 100%; 
    max-width: 26rem;
    min-height: 42.9375rem;
    margin: 0;
  }
  .swiper-slide:nth-child(n+3) {
    display: none; 
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 4rem;
    height: 4rem;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    width: 1rem;
    height: 1rem;
    border-top: 0.125rem solid var(--color-dark);
    border-right: 0.125rem solid var(--color-dark);
  }
  .circle {
    display: none;
  }
  .contacts-container {
    grid-template-columns: 1fr;
  }
  .contacts-container h4 {
    font-size: 2rem;
    margin-left: 1rem;
    text-align: left;
  }
  .contacts-container p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .heading-contacts h3 {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .adress-section,
  .telephone-section {
    min-height: 8rem;
    padding: 0.25rem;
  }
  .adress-section {
    margin-bottom: 0;
  }
  .mail-section {
    min-height: 20rem;
    padding: 0.25rem;
  }
  .mail-list li {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .mail-list strong,
  .mail-list p {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  .footer {
    min-height: 12.5rem; 
    padding: 1rem 0;
  }
  .footer-main-inter-container {
    padding: 0 2rem; 
  }
  .footer-body {
    flex-direction: column; 
    gap: 1rem; 
    font-size: 1.5rem; 
  }
  .footer-column {
    flex-direction: column; 
    gap: 0.5rem; 
  }
  .footer-column .nav-menu li {
    font-size: 1.5rem; 
    margin-left: 0; 
  }
  .social-network, .support {
    align-items: flex-start; 
  }
  .footer-copyright {
    font-size: 1rem; 
    gap: 1rem;
  }
}
@media (max-width: 800px) {
  .header {
    padding-inline: 1.5rem;
  }
  .header-menu {
    margin-top: 1rem;
  }
  .header-logo img {
    width: 25vw;
  }
  .line-1 {
    display: none;
  }
  .btn {
    margin-top: 1rem;
  }
  .banner {
    padding: 3.75rem 1.875rem;
    height: auto;
    min-height: 100vh;
  }
  .ellipse-1 {
    top: -23rem;
    right: 12.1875rem;
    width: 4.1875rem;
    height: 4.1875rem;
  }
  .ellipse-2 {
    top: -15.75rem;
    right: 9.625rem;
    width: 3rem;
    height: 3rem;
  }
  .ellipse-3 {
    top: -45.0625rem;
    right: -0.1375rem;
    width: 11.375rem;
    height: 11.375rem;
  }
  .ellipse-4 {
    top: -46.4375rem;
    right: 13.25rem;
    width: 4.8125rem;
    height: 4.8125rem;
  }
  .spiral-1 {
    top: -30.875rem;
    right: 16.875rem;
    width: 3.625rem;
    height: 3.625rem;
    transform: rotate(-17deg);
  }
  .spiral-2 {
    top: -15.25rem;
    right: 1.3rem;
    width: 6.5rem;
    height: 6.5rem;
    transform: rotate(-100deg);
  }
  .banner-title {
    margin-top: 7rem;
    font-size: 3rem;
  }
  .banner-subtitle {
    font-size: 2rem;
  }
  .banner-text {
    max-width: 25rem; 
  }
  .btn2 {
    font-size: 1rem; 
    max-width: 25rem;
    z-index: 10;
  }
  .stat-item h4 {
    font-size: 3.5rem;
  }
  .stat-item p {
    font-size: 1.25rem; 
  }
  .ellipse-5 {
    top: 6.625rem;
    left: 7.5rem;
    width: 6rem;
    height: 6rem;
  }
  .ellipse-6 {
    top: 5.625rem;
    left: 18.75rem;
    width: 4rem;
    height: 4rem;
  }
  .ellipse-7 {
    display: none;
  }
  .ellipse-8 {
   display: none;
  }
  .rocket {
    display: none;
  }
  .medal {
    top: 1.75rem;
    left: 35rem; 
  }
  .values-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .advantage-section,
  .mission-section {
    max-width: 100%;
    padding: 0.75rem;
    min-height: 34rem; 
  }
  .advantage-section h3,
  .mission-section h3 {
    font-size: 1.8rem;
    margin-top: 4rem;
    margin-bottom: 0.75rem;
  }
  .advantage-list li {
    padding-left: 3rem;
    margin-bottom: 0.75rem;
  }
  .advantage-list li:nth-child(n+4) {
    display: none;
  }
  .advantage-section {
    min-height: 18rem;
  }
  .check-mark {
    width: 2.2rem; 
    height: 2.2rem;
    top: 15%;
    transform: translateY(-50%);
  }
  .advantage-list li strong {
    font-size: 1.4rem; 
  }
  .advantage-list li p {
    font-size: 1rem;
  }
  .mission-list {
    width: 100%;
  }
  .mission-list li {
    font-size: 1.4rem;
    padding-left: 3.5rem;
    margin-bottom: 3rem;
  }
  .mission-list li::before {
    width: 2.2rem;
    height: 2.2rem;
    left: 0.5rem;
  }
  .cup-icon,
  .rocket-icon {
    width: 4.5rem;
    height: auto;
    top: 0.5rem;
  }
  .cup-icon {
    right: 8.5rem; 
  }
  .rocket-icon {
    right: 8.5rem; 
  }
  .simple-programs-container,
  .hard-programs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-items: stretch;
  }
  .beginner,
  .elementary,
  .Pre-intermediate,
  .intermediate,
  .intermediate-plus,
  .upper-intermediate {
    width: 100%;
    max-width: 23rem; 
    padding: 0.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .simple-programs-container img,
  .hard-programs-container img {
    max-width: 70%; 
    max-height: 10rem;
    margin: 0 auto;
  }
  .simple-programs-container h3,
  .hard-programs-container h3 {
    font-size: 1.1rem; 
  }
  .simple-programs-container p,
  .hard-programs-container p {
    font-size: 0.9rem;
    text-align: justify;
    flex-grow: 1;
  }
  .simple-programs-container .btn,
  .hard-programs-container .btn {
    font-size: 0.6rem;
    max-width: 7rem;
    align-self: flex-end;
    margin: 0;
  }
  .description-slider p {
    font-size: 3.5rem; 
  }
  .swiper-wrapper {
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
  }
  .swiper-slide {
    width: 100%;
    max-width: 23rem; 
    min-height: 38rem;
    margin: 0;
  }
  .swiper-slide:nth-child(n+3) {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 3.5rem; 
    height: 3.5rem;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    width: 0.9rem;
    height: 0.9rem;
    border-top: 0.125rem solid var(--color-dark);
    border-right: 0.125rem solid var(--color-dark);
  }
  .circle {
    display: none;
  }
  .contacts-container {
    grid-template-columns: 1fr;
  }
  .contacts-container h4 {
    font-size: 1.8rem; 
    margin-left: 1rem;
    text-align: left;
  }
  .contacts-container p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
  .heading-contacts h3 {
    font-size: 1.8rem;
    margin-left: 1rem;
  }
  .adress-section,
  .telephone-section {
    min-height: 7rem;
    padding: 0.25rem;
  }
  .adress-section {
    margin-bottom: 0;
  }
  .mail-section {
    min-height: 18rem; 
    padding: 0.25rem;
  }
  .mail-list li {
    margin-bottom: 2.5rem; 
    margin-top: 1.5rem;
  }
  .mail-list strong,
  .mail-list p {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .footer {
    min-height: 11rem; 
    padding: 1rem 0;
  }
  .footer-main-inter-container {
    padding: 0 1.5rem;
  }
  .footer-body {
    flex-direction: column;
    gap: 0.75rem;
    font-size: 1.3rem; 
  }
  .footer-column {
    flex-direction: column;
    gap: 0.4rem;
  }
  .footer-column .nav-menu li {
    font-size: 1.3rem; 
    margin-left: 0;
  }
  .social-network,
  .support {
    align-items: flex-start;
  }
  .footer-copyright {
    font-size: 0.9rem; 
    gap: 0.75rem;
  }
}
