@font-face {
    font-family: 'CoolveticaCondensedRg-Regular';
    src: url(fonts/CoolveticaCondensedRg-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NexaScript-Light';
    src: url(fonts/NexaScript-Light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Bold';
    src: url(fonts/Unbounded-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Light';
    src: url(fonts/Unbounded-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Medium';
    src: url(fonts/Unbounded-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Unbounded-Regular';
    src: url(fonts/Unbounded-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom, 0);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
    overflow:auto;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут fill со значением 'none' или начинается с 'url')
  */
 :where([fill]:not(
   [fill="none"],
   [fill^="url"]
 )) {
   fill: currentColor;
 }
 
 /**
   Приводим к единому цвету svg-элементы
   (за исключением тех, у которых уже указан
   атрибут stroke со значением 'none')
  */
 :where([stroke]:not(
   [stroke="none"],
   [stroke^="url"]
 )) {
   stroke: currentColor;
 }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }
 :root {
    --color-dark: #2B2B2B;
    --color-yellow: #FFDD72;
    --color-light:#FFFFFF;
    --color-purple: #763F94;
    --color-purple-light: #E9BFFF;
    --color-gray: #717171;
    --color-orange: #FFDA56;
    --border-radius: 32px;
    --border: 1px solid var(--color-dark);
    --font-family-base: 'Unbounded-Regular', sans-serif;
    --font-family-accent: 'Coolvetica', 'Nexa Script', sans-serif;
    --transition-duration: 0.2s;
 }
a,
button,
input,
textarea,
svg * {
    transition-duration: var(--transition-duration);
}.btn {
      display: inline-flex;
      width: 329px;
      height: 54px;
      background-color: var(--color-yellow);
      text-decoration: none;
      border: var(--border);
      border-radius: var(--border-radius);
      padding: 9px 12px;
      font-weight: 700;
      margin-top: -5px;
  }
     .btn {
        display: inline-block;
        transition: transform 0.5s ease;
      }
     .btn:hover {
        background-color: var(--color-orange);
        transform: scale(1.1);
     }
     .btn:active {
        transform: scale(0.98);
        background-color: var(--color-yellow);
        transition: transform 0.5s ease;
     }

a {
    color: var(--color-dark);
 }
a:hover {
    color: var(--color-gray);
}

 body{
    font-family: var(--font-family-base);
    font-size: 24px;
    color: var(--color-dark);
    background: radial-gradient(circle, rgba(255,235,170,1) 0%, rgba(255,255,255,1) 0%, rgba(255,235,170,1) 100%);
 }
 h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
 }
.visually-hidden {
  display:none;
}
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  padding-inline: 60px;
  flex-wrap: wrap;
  position: fixed; 
  width: 100%; 
  z-index: 1000;
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(255, 243, 211, 0.95), rgba(255, 235, 170, 0.95));
  z-index: -1;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04);
  transition: var(--transition-duration);
}

.header > * {
  position: relative;
  z-index: 1;
}
 .header-menu-list {
    display: flex;
    column-gap: 50px;
 }
 .header-menu-item {
  font-weight: 400;
  font-size: 20px;
 }
 .header-menu-link {
    display: inline-flex;
    align-items: center;
    height: 30px;
    padding-bottom: 8px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
 }
 .header-menu-link.is-current {
    border-bottom: var(--border);
     }
.header-menu-link:not(.is-current):hover {
    border-bottom: var(--border);
     }
     
     .header-logo img {
        width: 383px;
        height: 83px;
        margin-top: 5px;
       }

       @media (max-width: 1500px) {
        .header {
            flex-wrap: wrap;
            row-gap: 5px;
            padding-top: 20px;
            padding-inline: 30px;
        }
        .header-menu-list {
            column-gap: 30px;
        }
        .header-logo img {
            width: 300px;
            height: 65px;
            margin-top: 5px;
            margin-bottom: 25px;
        }
        .btn {
            width: 280px;
            height: 50px;
            font-size: 20px;
        }
        .header-menu-item {
            font-size: 18px;
        }
        .header-menu-link {
            font-size: 18px;
        }
        .banner-title {
          font-size: 15px;
         }
         .banner-subtitle {
          font-size: 24px;
         }
      .justified-text {
          font-size: 14px;
      }
    }
       @media (max-width: 1300px) {
        .header {
            flex-wrap: wrap;
            row-gap: 5px;
            padding-top: 20px;
            padding-inline: 10px;
        }
        .header-menu {
            order: 1;
            flex-basis: 100%;
            padding-inline: 10px;
          }
       }
       @media (max-width: 650px) {
        .header {
            padding-top: 5px;
        }
        .header-menu-link {
            height: 10px;
            font-size: 15px;
        }
        .header-menu-list {
            column-gap: 20px;
        }
         .btn {
            padding: 5px 8px;
            font-size: 14px;
            height: 30px;
         }
         .header-logo img {
            width: 150px;
            height: 50px;
         }
       }
       .banner {
        padding: 120px 60px;
        height: 860px;
        position: relative;
       }
       .banner-title {
        font-family: 'Unbounded-Medium';
        font-weight: 700;
        font-size: 85px;
        color: transparent;
        background-clip: text;
        background-image:linear-gradient(295deg, rgba(200,107,250,1) 41%, rgba(118,63,148,1) 100%);
       }
       .banner-info {
        position: relative; 
        z-index: 1;
       }
       .banner-subtitle {
        font-weight: 400;
        font-size: 64px;
        line-height: 145%;
        margin-top: 10px;
       }
       .banner-text {
        max-width: 650px;
        margin-top: 25px; 
    }
    
    .justified-text {
        text-align: justify;
        line-height: 1.5; 
        font-weight: 400;
        font-size: 24px;
    }
    .banner-photo {
      width: 607px;
      position: absolute;
      top: 0px;
      right: 20px;
      margin-top: 30px;
      z-index: 1;
    }
    .btn2 {
      border: var(--border);
      border-radius: var(--border-radius);
      height: 86px;
      width: 650px;
      display: inline-flex;
      background-color: var(--color-yellow);
      text-decoration: none;
      padding: 20px 17px;
      font-weight: 700;
      margin-top: 40px;
      font-weight: 700;
      font-size: 30px;
      display: flex; 
      align-items: center; 
      z-index: 2; 
    }
    .arrow-circle {
      width: 64px;
      height: 64px;
      background-color: var(--color-light);
      border-radius: 50%;
      display: flex;
      align-items: center; 
      justify-content: center; 
      position: relative;
      margin-left: 25px; 
      transition: transform 0.3s ease;
      overflow: hidden;
      border: var(--border);
    }
    .arrow {
      width: 18px;
      height: 18px;
      border-right: 3px solid var(--color-dark);
      border-top: 3px solid var(--color-dark);
      transform: rotate(45deg);
      transition: opacity 0.4s ease, transform 0.4s ease;
      position: relative;
      
    }
    
.btn2:hover .arrow {
  transform: rotate(135deg);
  transition: transform 0.3s ease;
}
    @media (max-width: 1500px) {
      .banner {
          padding: 100px 40px;
          height: 750px;
      }
      .banner-title {
          font-size: 72px;
      }
      .banner-subtitle {
          font-size: 48px;
          line-height: 130%;
      }
      .banner-text {
          max-width: 550px;
          margin-top: 20px;
      }
      .justified-text {
          font-size: 20px;
          line-height: 1.4;
      }
      .banner-photo {
          width: 520px;
          height: auto;
          top: 20px;
          right: 20px;
          margin-top: 20px;
          z-index: 2;
      }
      .btn2 {
          height: 70px;
          width: 550px;
          font-size: 24px;
          margin-top: 60px;
          padding: 15px 17px;
      }
      .arrow-circle {
        width: 55px;
        height: 55px;
      }
      .arrow {
        width: 18px;
        height: 18px;
     }
  }
/* Нужно сделать адаптивку */

  .hero-section {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 0;
  }
.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.decorations img {
  position: absolute;
}
.ellipse-1 {
  top: -640px;
  right: 675px;
  width: 67px; 
  height: 67px;

}
.ellipse-2 {
  top: -300px;
  right: 890px;
  width: 48px; 
  height: 48px;
}
.ellipse-3 {
  top: -177px;
  right: -15px;
  width: 182px; 
  height: 182px;
}
.ellipse-4 {
  top: -775px;
  right: 420px;
  width: 77px; 
  height: 77px;
}
.spiral-1 {
  top: -430px;
  right: 542px;
  width: 58px;
  height: 58px;
  transform: rotate(-17deg);
}
.spiral-2 {
  top: -100px;
  right: 550px;
  width: 104px;
  height: 104px;
  transform: rotate(-100deg);
}
.line-1 {
  top: -750px;
  right: -60px;
}
.cube {
  top: -730px;
  right: 990px;
  width: 58px;
  height: 58px;
}
.about-us {
  padding: 50px 60px;
  height: 860px;
  position: relative;
}
.welcome-section {
  display: block; 
  text-align: center; 
  z-index: 1;
  position: relative;
}
.welcome-section h3 {
  font-family: 'Unbounded-Medium';
  font-size: 60px;
  line-height: 89%;
  background: linear-gradient(271deg, #a54bd6 22.27%, #fcc402 80.88%);
  color: transparent;
  background-clip: text;
  margin-bottom: 5px;
}
.stats-section {
  padding-left: 20px
}

.stars {
  margin: 10px 0; 
  display: inline-block;
}
.welcome-section p {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: -100px;
}
.stat-container {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat-item {
  border-radius: var(--border-radius);
  display: flex;
  width: 1700px;
  height: 180px;
  background: linear-gradient(90deg, #763f94 0%, rgba(200, 107, 250, 0.5) 100%);
  margin-bottom: 30px; 
  padding: 20px 40px;
  align-items: center;
}
.stat-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -15px;
}
.stat-item h4 {
  font-family: 'CoolveticaCondensedRg-Regular';
  font-size: 96px;
  color: var(--color-light);
  margin: 0;
  line-height: 1;
}
.stat-item p {
  font-family: 'Unbounded-Regular';
  font-size: 40px;
  color: var(--color-light);
  margin: 0;
   
}
.decorations-2 img {
  position: absolute;
  z-index: 0;
}
.line-2 {
  top: 105px;
  right: 903px;
}
.ellipse-5 {
  top: 170px;
  left: 120px;
  width: 115px; 
  height: 115px;
}
.ellipse-6 {
  top: 90px;
  left: 300px;
  width: 75px; 
  height: 75px;
}
.ellipse-7 {
  top: 150px;
  right: 125px;
  width: 165px; 
  height: 165px;
}
.ellipse-8 {
  top: 350px;
  right: 270px;
  width: 83px; 
  height: 83px;
}
.rocket {
  top: 250px;
  right: 550px;
}
.medal {
  top: 140px;
  left: 400px;
}
.our-values {
  padding: 50px 60px;
  position: relative;
  margin-top: 260px;
}

.values-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  z-index: 1;
  position: relative; 
}

.values-left, .values-right {
  padding: 20px;
}

.advantage-section {
  background: linear-gradient(180deg, rgba(211, 129, 255, 0.98) 0%, rgba(255, 203, 69, 0.98) 100%);
  border-radius: var(--border-radius);
  padding: 17px;
  color: var(--color-dark);
  position: relative;
  width: 863px;
  height: 977px;
}

.mission-section {
  background: linear-gradient(180deg, rgba(211, 129, 255, 0.98) 0%, rgba(255, 203, 69, 0.98) 100%);
  border-radius: var(--border-radius);
  padding: 20px;
  color: var(--color-dark);
  position: relative;
  width: 863px;
  height: 611px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
}
.advantage-section h3, .mission-section h3 {
  font-family: 'Unbounded-Medium';
  font-size: 50px;
  text-align: center; 
  margin-top: 150px; 
  color: var(--color-dark);
  margin-bottom: 30px;
}
.advantage-list {
  padding: 0;
  margin: 0;
}
.advantage-list li {
  padding-left: 80px;
  position: relative;
}
.check-mark {
  background-image: url('icon/check-mark-circle.svg');
  background-size: cover;
  width: 67px;
  height: 67px;
  position: absolute;
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}
.advantage-list li strong {
  font-family: var(--font-family-base);
  display: block;
  font-size: 36px;
  margin-top: 10px;
  color: var(--color-dark);
}

.advantage-list li p {
  font-size: 24px;
  text-align: justify;
  color: var(--color-dark);
}

.mission-list {
  width: 863px; 
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
}

.mission-list li {
  font-size: 48px; 
  margin-bottom: 20px;
  position: relative;
  padding-left: 120px; 
  text-align: left; 
  display: flex;
  align-items: center; 
  width: 100%; 
}

.mission-list li::before {
  content: "";
  background-image: url('icon/star-vector.svg');
  background-size: cover;
  width: 67px;
  height: 67px;
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
}

.cup-icon, .rocket-icon {
  position: absolute;
  top: 10px;
  right: 370px;
  width: 138px;
  height: auto;
}

.image-section {
  margin-top: 20px;
}

.girl-reading {
  width: 863px;
  height: 330px;
  border-radius: var(--border-radius);
}

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.line-3 {
  position: absolute;
  top: 300px;
  width: 100%;
  z-index: -1; 
}
.entry-level-programs {
  padding: 50px 60px;
}
.simple-programs-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-radius: var(--border-radius);
}
.beginner, .elementary, .Pre-intermediate{
  border-radius: var(--border-radius);
  background: radial-gradient(circle, rgba(211,129,255,1) 50%, rgba(255,203,69,1) 100%);
  width: 574px;
  height: 882px;
  position: relative;
  text-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.simple-programs-container img {
  width: 473px;
  height: 313px;
  align-self: center; 
  padding: 0;
  margin-bottom: 20px;
}
.simple-programs-container h3{
  font-family: "Unbounded-Bold";
  font-size: 36px;
  display: flex;
  justify-content: space-between;
}
.simple-programs-container .btn {
  font-size: 24px;
  text-align: center;
  width: 287px;
  height: 52px;
}
.simple-programs-container p {
  font-size: 28px;
  font-family: var(--font-family-base);
}
.advanced-level-programs {
  padding: 50px 60px;
}
.hard-programs-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  border-radius: var(--border-radius);
}
.intermediate, .intermediate-plus, .upper-intermediate {
  border-radius: var(--border-radius);
  background: radial-gradient(circle, rgba(211,129,255,1) 50%, rgba(255,203,69,1) 100%);
  width: 574px;
  height: 882px;
  position: relative;
  text-align: start;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.hard-programs-container img {
  width: 473px;
  height: 313px;
  align-self: center;
  margin-top: auto;
  margin-bottom: 20px;
  padding: 0;
}
.hard-programs-container h3 {
  font-family: "Unbounded-Bold";
  font-size: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hard-programs-container .btn {
  font-size: 20px;
  text-align: center;
  width: 287px;
  height: 52px;
  margin-left: auto;
}
.hard-programs-container p {
  font-size: 28px;
  font-family: var(--font-family-base);
  margin: 0;
}
.reviews-slider {
  padding: 50px 60px;
  z-index: 1;
  position: relative;
}

.description-slider {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 20px; 
}
.description-slider p {
  font-family: "NexaScript-Light" ;
  font-size: 90px;
}
.navigation-buttons {
  display: flex;
  gap: 10px; 
}

.swiper-button-prev,
.swiper-button-next {
  width: 83px; 
  height: 83px;
  background-color: var(--color-yellow);
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 10; 
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  width: 20px;
  height: 20px;
  border-top: 3px solid var(--color-dark); 
  border-right: 3px solid var(--color-dark);
  transform: rotate(-135deg); 
}

.swiper-button-next::after {
  transform: rotate(45deg); 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: var(--color-orange); 
  transform: scale(1.1);
  transition-duration: var(--transition-duration);
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
  border-radius: var(--border-radius);
  justify-content: center;
  position: relative; 
  z-index: 2;
}

.swiper-slide {
  border: var(--border);
  border-radius: var(--border-radius);
  width: 498px;
  height: 687px;
  background: var(--color-purple-light);
  padding: 20px;
  position: relative; 
  z-index: 2; 
}

.circle {
  border-radius: 50%;
  height: 91px;
  width: 91px;
  margin-left: 20px; 
}

.circle-1 {
  background: url(img/cat-icon.jpg);
  background-size: cover;
}

.circle-2 {
  background: url(img/cow-icon.jpg);
  background-size: cover;
}

.circle-3 {
  background: url(img/dog-icon.png);
  background-size: cover;
}

.review h4 {
  font-family: "Unbounded-Bold";
  font-size: 28px;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  margin: 0;
  white-space: nowrap;
  margin-top: 30px;
}
.review p {
  font-family: var(--font-family-base);
  font-size: 24px;
  margin-top: 30px;
}
.decoration-line {
  position: absolute;
  bottom: 150px; 
  left: 0;
  right: 0;
  z-index: 0; 
  text-align: center; 
}
.decoration-line img {
  width: 100%;
}
.contacts {
  padding: 50px 60px;
}
.contacts-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 40px; 
  font-family: "Unbounded-Bold";
}
.contacts-container h4{
  font-size: 64px;
  margin: 0;
}
.contacts-container p{
  margin-top: 20px;
  font-size: 32px;
}
.heading-contacts {
  grid-column: 1 / -1; /* Заголовок занимает всю ширину */
}
.heading-contacts h3{
  font-size: 64px;
  margin-bottom: 0;
}
.contacts-left {
  display: flex;
  flex-direction: column;
  gap: 105px; 
}
.contacts-right {
  display: flex;
  flex-direction: column;
}
.adress-section,
.telephone-section,
.mail-section {
  border-radius: var(--border-radius);
  padding: 17px;
  color: var(--color-dark);
}

.adress-section {
  background: linear-gradient(90deg, #c86bfa 0%, #ffdd72 100%);
  width: 100%; 
  height: 253px;
}

.telephone-section {
  background: linear-gradient(90deg, #c86bfa 0%, #ffdd72 100%);
  width: 100%; 
  height: 253px;
}

.mail-section {
  background: linear-gradient(180deg, #c86bfa 0%, #ffcb45 100%);
  width: 100%; 
  height: 611px;
}